.footer-section{
    background: #1e2128;
    width: 100%;
    padding-top: 25px;
}

.footer-nav p{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.footer-nav ul li{
    color: #adadad;
    list-style: none;
    line-height: 30px;    
    font-weight: 400;
}
.newsletter h5{
    color: #adadad;
    font-weight: 400;
}


form.example input[type=text] {
    padding: 5px 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 5px 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

.footer-bottom-section{
    border-top: 1px solid #4d4d4d; 
    padding-top: 10px;
}
.copy-right-content p{    
    float: left;
    color: #f1f1f1;
}
.footer-social-link{
    float: right;
    color: #fff;
}