.brand-logo {
    max-height: 35px;
}

.top-ul-li-style ul li {
    padding: 8px 10px;
    a {
        padding: 0px;
        color: #000 !important;
    }
}

.sign-up-btn {
    background: #eee;
    border-radius: 2px;
}